<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsau webserver</title>
    <!-- Latest compiled and minified CSS -->
    <style>
      * {
        box-sizing: border-box;
      }

      input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      /* formulaire */


            .container {
              border-radius: 5px;
              background-color: #f2f2f2;
              padding: 20px;
            }

            .col-35 {
              float: left;
              width: 30%;
              margin-top: 6px;
              padding: 5px;
            }
            .col-65 {
              float: left;
              width: 70%;
              margin-top: 6px;
              padding: 5px;
            }
            .col-25 {
              float: left;
              width: 25%;
              margin-top: 6px;
            }

            .col-75 {
              float: left;
              width: 75%;
              margin-top: 6px;
            }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #DEE5FA;
      }

      /* Responsive layout - when the screen is less than 600px wide,
      make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
      .btn {

        display: inline-block;
        text-align: center;
        text-decoration: none;

        /* create a small space when buttons wrap on 2 lines */
        margin: 2px 0;

        /* invisible border (will be colored on hover/focus) */
        border: solid 1px transparent;
        border-radius: 4px;

        /* size comes from text & padding (no width/height) */
        padding: 0.5em 1em;
      }
      .btn-ajout {
        color: #ffffff;
        background-color: #1180cd;
        text-align: right;
      }
      .btn-edit {
        color: #fff;
        background-color: #1180cd;
      }
      .btn-delete {
        color: #fff;
        background-color: #cd3011;
      }
    </style>

</head>
<body>

  <div class="container">
    <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Les nouvelles</span></a></h1>
  </div>
  <div class="container">
    <div>
    <!-- Editable table -->
      <div>
          <div>
            <table>
              <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Auteur</th>
                  <th>Catégorie</th>
                  <th>Date</th>
                  <th>Description</th>
                  <th colspan="2"></th>
              </tr>
            {% for item in lesNouvelles %}
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nom }}</td>
                <td>{{ item.auteur }}</td>
                <td>{{ item.categorie }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.description }}</td>
                <td style="text-align:center;">
                        <button
                          onclick="editNouvelles({{item.id}})"
                          class="btn btn-edit">Modifier</button>
                      </td>
                <td style="text-align:center;">
                  <button
                    onclick="deleteNouvelles({{item.id}})"
                    class="btn btn-delete">Supprimer</button>
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
      </div>
    <!-- Editable table -->
  </div>
</div>


  <div class="container">
    <h1 id="header"><a href="#" title="Colored Design - Accueil"><span>Ajouter une nouvelle</span></a></h1>
    <div>
      <form action="/" method="POST">
        <div class="row">
          <div class="col-25">
            <label for="fname">Nom</label>
          </div>
          <div class="col-75">
            <input type="text" name="nom" required="">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Auteur</label>
          </div>
          <div class="col-75">
            <input type="text" name="auteur" required="">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Description</label>
          </div>
          <div class="col-75">
            <textarea
              class="form-control rounded-0"
              rows="3"
              name="description" required=""></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">categorie</label>
          </div>
          <div class="col-75">
            <select name="categorie" id="pet-select" required="">
              <option value="">--Choisissez une catégorie--</option>
              {% for item in categories %}
                <option value="{{ item.nom }}">{{ item.nom }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">date</label>
          </div>
          <div class="col-75">
              <input class="form-control" name="date" type="date" required="">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
          </div>
          <div class="col-75">
            <button type="submit" class="btn btn-ajout">Ajouter</button>
          </div>
        </div>
      </form>
    </div>
  </div>

    <script>
    function editNouvelles(id) {
      location.replace("http://localhost:8081/edit/"+id)
    }
  </script>
  <script>
    function deleteNouvelles(id) {
      location.replace("http://localhost:8081/delete/"+id)
    }
  </script>

</body>
</html>
